<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TiendaRegalosEntities" connectionString="metadata=res://*/TiendaRegalos.csdl|res://*/TiendaRegalos.ssdl|res://*/TiendaRegalos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LUKY1\SQLEXPRESS;initial catalog=TiendaRegalos2014;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>