<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DBPersonasEntities" connectionString="metadata=res://*/DBPersonas.csdl|res://*/DBPersonas.ssdl|res://*/DBPersonas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=º-PC\SQLEXPRESS;initial catalog=DBPersonas;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBPersonasConnectionString" connectionString="Data Source=º-PC\SQLEXPRESS;Initial Catalog=DBPersonas;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms">
          <forms loginUrl="~/Login.aspx" defaultUrl="~/Personas.aspx"/>
        </authentication>
        <membership defaultProvider="PersonasMembershipProvider">
          <providers>
            <clear/>
            <add name="PersonasMembershipProvider" type="AplicacionPersonas3capas.Seguridad.PersonasMembershipProvider"/>
          </providers>
        </membership>
      <authorization>
        <deny users="?"/>
      </authorization>

    </system.web>

</configuration>
