<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBPersonasEntities" connectionString="metadata=res://*/DBPersonas.csdl|res://*/DBPersonas.ssdl|res://*/DBPersonas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=º-PC\SQLEXPRESS;initial catalog=DBPersonas;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>